.App {
  text-align: center;
}

.navBar {
  display: flex;
  background: rgb(1, 1, 87);
  color: white;
  padding-left: 20px;
  width: 100%;
}

div {
  box-sizing: border-box;
}

.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
  margin-top: 50px;
}

.btn {
  display: flex;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  background: transparent;
  border-radius: 10%;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background-color: #eee;
  text-align: left;
}

.likeBtn {
  background: transparent;
  border: 2px solid black;
  border-radius: 50px;
}