.App {
  text-align: center;
}

.navBar {
  display: flex;
  background: black;
  color: white;
  padding-left: 20px;
  width: 100%;
}

div {
  box-sizing: border-box;
}

.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
}

button {
  display: flex;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}

.modal {
  margin-top: 20px;
  padding: 20px;
  background-color: #eee;
  text-align: left;
}